@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.394);
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    text-align: center;
    width: 100vw;
}
a{
    display: block;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    margin-top: -5px;
}
a:hover{
    background-color: red;
}